body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  margin-bottom: 5px;
}
.right-icon{
  float: right;
}
.left-icon{
  float: left;
}
.ui.menu{
  border-radius: 0;
  margin: 0;
  border: 0;
}
.border_header {
    z-index: 1012;
    position: relative;
}
.border_header .heder_boder_top:before {
    content: '';
    height: 4px;
    background: #17aa1c;
    display: block;
    transition: .15s ease-in-out;
}
.border_header .heder_boder_top{
    height: 8px;
    display: block;
    margin-bottom: -4px;
}
.ui.container{
  margin-top: 1.5rem;
}
.ui.card, .ui.cards>.card{
  border-radius: 0;
  box-shadow: 0 1px 3px 0 #c5c5c5, 0 0 0 1px #ffffff;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

@media only screen and (min-width: 1200px){
  .ui.container{
    width: 1405px;
  }
  .play_container{
    width: 1107px !important;
  }
}

.freeText{
  font-size: 36px;
  color:#16ab39;
  font-weight: 600;
  margin: 0;
}
.detailQuiz{
  font-size: 14px;
  color: #6b6b6b;
}
.boxDetailQuiz{
  margin: 0 0 10px 0; 
}
.boxDetailQuiz p{
  line-height: 26px;
}
.ratingOfQuiz{
  padding: 0 0 5px 0;
}
.quizByUser{
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  color: #6b6b6b;
}
.quizByUser li{
  display: inline-block;
}
.quizByUser li.createQuizBy{
  margin-right: 60px;
}
.quizByUser li.createQuizBy:after,
.quizByUser li:last-of-type:after{
  content: '';
}
.quizByUser li:after{
  padding: 0 4px;
  content: '/';
}
.detailHead{
  font-size: 12px;
  color: #9a9a9a;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0 5px 0;
}
.btn_play_p{
  padding: 5px 0;
}
.btn_play_p .button{
  font-size: 16px;
}
.list-detail-quiz{
  padding: 0;
  margin: 0
}
.list-detail-quiz li{
  font-size: 14px;
  color: #6b6b6b;
  display: flex;
  margin-bottom: 8px;
}
.list-detail-quiz li .flot-item-left{
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100px;
  width: 150px;
  display: inline-block;
}
.list-detail-quiz li .flot-item-right{
  font-weight: bold;
  word-wrap: break-word;
}
.addToForev{
  margin-top: 20px;
  font-size: 16px;
}
.addToForev span{
  cursor: pointer
}
.menuDetailQuiz{
  margin-top: 20px;
}
.segDetailZone{
  background-color: #f4f4f4;
}
.segDetailZone .container{
  min-height: 600px;
  padding: 20px 0;
}
.no-pan-mar{
  padding: 0 !important;
  margin: 0 !important;
}
.ui.secondary.pointing.menu{
  border-top: 2px solid rgba(34,36,38,.15);
}
.ui.secondary.pointing.menu .item:first-of-type{
  padding-left: 0;
}
.ui.secondary.pointing.menu .item{
  font-size: 16px;
  padding: 20px 0;
  margin-right: 26px;
  border-bottom: 4px solid transparent;
}
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .item:hover,
.ui.secondary.pointing.menu .active.item:hover{
  color:#333;
  font-weight: normal;
  border-bottom: 4px solid dodgerblue;
}
.no-pan-segDetailZone{
  margin-top: 0 !important;
}
.publicDate{
  margin-right: 18px;
}
.descriptionDetail{
  padding: 26px 0 0 0;
  font-size: 14px;
  line-height: 24px;
}
.descriptionDetail p{
  line-height: 24px;
  margin-bottom: 14px;
}
.descriptionDetail p{

}
.ui.list>.item>.content{
  display: table-cell;
}
.list .runQuiz{
  display: table-cell;
  margin: 0;
  padding-top: .07142857em;
  padding-right: .28571429em;
  vertical-align: top;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  vertical-align: middle;
  width: 100px;
  text-align: center;
}
.ui.relaxed.list:not(.horizontal)>.item::first-of-type{
  padding: 10px 0;
}
.ui.relaxed.list:not(.horizontal)>.item:not(:first-of-type){
  padding: 12px 0;
}
.segDetail1 , .segDetail2 , .segDetail3 , .segDetail4{
  margin-bottom: 40px;
}
.ui.comments .comment{
  margin: 0.6em 0 0;
  padding: 0.6em 0 0;
}
.ui.comments .comment .metadata{
  margin-left: 0;
}
.right{
  text-align: right;
}